@model Clothing
@{
    ViewData["Title"] = "Add new item to inventory";
}

<h2>Add New Item to Inventory</h2><br />

<form method="post">
    <div class="form-group row">
        <label asp-for="Size" class="col-md-1 col-form-label"></label>
		<div class="col-md-7">
            <input asp-for="Size" />
        </div>
        <span asp-validation-for="Size"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Type" class="col-md-1 col-form-label"></label>
		<div class="col-md-7">
            <input asp-for="Type" />
        </div>
        <span asp-validation-for="Type"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Color" class="col-md-1 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="Color" />
        </div>
        <span asp-validation-for="Color"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Price" class="col-md-1 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="Price" />
        </div>
        <span asp-validation-for="Price"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Title" class="col-md-1 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="Title" />
        </div>
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Description" class="col-md-1 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="Description" />
        </div>
        <span asp-validation-for="Description"></span>
    </div>

    <input type="submit" value="Add Item" />
</form>