@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}

	<h2>Tiny Clothes</h2>
	<p>Tiny clothes for tiny things...</p>

    <div class="card" style="width: 18rem;">
        <img src="~/images/tinyDog.jpg" class="card-img-top" alt="tiny dog with a tiny shoe"/>
		<div class="card-body">
			<h5 class="card-title">Welcome to Tiny Clothes</h5>
			<p class="card-text">We sell tiny clothes and accessories for pets and stuffed animals.<br />These are not baby clothes!!!</p>
        </div>

    </div>

	<p>We do not accept returns, or issue refunds, at this time.<br />
	We do not guarantee your fur baby won't be allergic to these clothes.</p>