@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Privacy Policy"]</h1>

<img src="~/images/private2.jpg" class="card-img-top" alt="privacy policy" />
<br /><br />
<p>Hut8 Developers, LLC., doing business as Tiny Clothes (“us,” “we,” or “Company") is committed to respecting the privacy rights of its professors, instructors, customers, visitors, and other users of its websites and online services. The Tiny Clothes Website Privacy Policy (the “Privacy Policy”) applies to all Hut8 websites upon which it is posted, including www.tinyclothes.com, www.hut8.dev, rc.hut8.dev, and github.com/arcum-omni/, (collectively, the Sites), as well as the services provided through the Sites (collectively, the “Services”). In this Privacy Policy we explain how we collect, use and disclose the information we collect about users of our Sites and Services. Your use of the Sites and Services is subject to this Privacy Policy and the Hut8 Terms of Use, including applicable terms of limitations on liability and the resolution of disputes.</p>
